<li><a href="#" onclick="window.location = '/sites/' + <%= @site.id %> + '/users/edit#header'" style="cursor: pointer;">update information</a></li>
<% if current_user.at_least_a_content_manager? %>
    <li><a href="#" onclick="window.location = '/sites/' + <%= @site.id %> + '/users/sign_up'" style="cursor: pointer;">edit enrollment</a></li>
    <li><a href="#" onclick="window.location = '/user_admin'" style="cursor: pointer;">user admin</a></li>
<% end %>
<li><%= link_to "sign out", destroy_user_session_path(:site_id => @site.id), :method => :delete %></li>