<footer>
  <div class="social-icons">
    <a href="#"><span class="social-icon social-f"><i class="entypo-facebook"></i></span></a>
    <a href="#"><span class="social-icon social-t"><i class="entypo-twitter"></i></span></a>
    <a href="#"><span class="social-icon social-p"><i class="entypo-pinterest"></i></span></a>
    <a href="#"><span class="social-icon social-g"><i class="entypo-gplus"></i></span></a>
    <a href="#"><span class="social-icon social-fl"><i class="entypo-flickr"></i></span></a>
  </div>
</footer>