<footer>
  <div class="social-icons navbar-fixed-bottom">
    <a href="#"><span class="social-icon social-f"><i class="fa fa-facebook"></i></span></a>
    <a href="#"><span class="social-icon social-t"><i class="fa fa-twitter"></i></span></a>
    <a href="#"><span class="social-icon social-p"><i class="fa fa-pinterest"></i></span></a>
    <a href="#"><span class="social-icon social-g"><i class="fa fa-google-plus"></i></span></a>
    <a href="#"><span class="social-icon social-fl"><i class="fa fa-flickr"></i></span></a>
  </div>
</footer>