<%= render 'pages/' + @site.template_name + '/consent' %>

<%= render 'pages/' + @site.template_name + '/shared/consent_fields' %>

<%= render 'pages/' + @site.template_name + '/shared/links' %>

<section class="modal custom fade image-upload-div" id="image-update-modal-window" role="dialog"  aria-labelledby="imageUpdateModal" aria-hidden="true" ></section>
