<li <%= "about" == @current_page ? "class=active" : "" %>><a href="/about/about">about us</a></li>
<li><%= link_to('sign out', destroy_user_session_path, :method => :delete) %></li>
<li><%= link_to('sign out', destroy_user_session_path, :method => :delete) %></li>