<div class="navbar-default navbar-static-top">
  <div class="container">

    <div class="navbar-header">
      <a href="#" class="navbar-brand">MACs</a>
      <!--TODO Add variable for brand/site name.-->

      <button class="navbar-toggle" data-toggle="collapse" data-target=".navHeaderCollapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>

    <div class="collapse navbar-collapse navHeaderCollapse">
      <ul class="nav navbar-nav navbar-right">

        <% if !user_signed_in? %>
            <%= render "shared/sign_up_navbar" %>
        <% else %>
            <%= render "shared/authorized_navbar" %>
        <% end %>
      </ul>
    </div>

  </div>
</div>