<li><a href="#" onclick="window.location = '/sites/' + <%= @site.id %> + '/users/sign_up'" style="cursor: pointer;">enroll</a></li>
<li><a href="#" data-toggle="modal" data-target="#loginModal">sign in</a></li>