<div>
  <div class="modal-header">
    <button class="close" data-dismiss="modal">×</button>
    <h2>Screening Information for Participant <%= retrieve_user(user_id).external_id %></h2>
  </div>

  <div class="modal-body">
    <div class="divider"></div>
    Screening info goes here
  </div>
</div>