<div>
  <div class="modal-header">
    <button class="close" data-dismiss="modal">×</button>
    <h2>Status of participant <%= retrieve_user(user_id).external_id %></h2>
  </div>

  <div class="modal-body">
    <div class="divider"></div>
    Status info goes here
  </div>
</div>