<div class="container">
  <h1><%= @contact_us.title %></h1>

  <!-- <p><%= @contact_us.content %></p> -->

  <table class="table">
    <tbody>
      <tr>
        <td>PRINCIPAL INVESTIGATOR</td>
        <td>Steven Wolinsky, MD<br/>
           Division of Infectious Diseases, Feinberg School of Medicine<br/>
           645 N Michigan Ave, Suite 900<br/>
           Chicago, IL 60666<br/>
           312-695-2372 <br/>
           Fax 312-695-5088<br/>
           s-galvin@northwestern.edu<br/>
        </td>
      </tr>
      <tr>
        <td>SUB-INVESTIGATORS</td>
        <td>Shannon Galvin, MD<br/>
          John Phair, MD<br/>
          Frank Palella, MD<br/>
          Sudhir Penugonda, MD<br/>
          Northwestern University<br/>
        </td>
      </tr>
      <tr>
        <td>PARTICIPATING SITES</td>
        <td>Northwestern University<br/>
          645 N Michigan Ave, Suite 900<br/>
          Chicago, IL 60666<br/>
          312-695-2372<br/>
          Fax 312-695-5088<br/>
        </td>
      </tr>
      <tr>
        <td>STATISTICIAN</td>
        <td>Susheel Reddy, MPH</td>
      </tr>
    </tbody>
  </table>
</div>
