<div class="container">
  <h1><%= @eligibility.title %></h1>
  <!-- <p><%= @eligibility.content %></p> -->
  <h2>Eligibility Criteria</h2>
  <p>In order to be eligible to take part in MACs, you must meet one of the following criteria:</p>
  <ul>
    <li>Persons eligible are males aged 18-70 with evidence of acute or recent HIV infection as defined by positive HIV ag/ab test and positive HIV viral load AND indeterminate or negative Western blot</li>
    <li>Documented negative HIV ab test in past year.</li>
  </ul>
  <h2>Benefits</h2>
  <p>As an observational study no medications are provided, you will receive laboratory and other medical evaluations as part of the study and will compensated for your time.</p>
</div>

