<div class="container">
  <h1><%= @funding.title %></h1>
  <p><%= @funding.content %></p>

  <table class="table">
    <tbody>
    <tr><td>FUNDING AGENCY</td><td>National Institutes of Health </td></tr>
    <tr><td></td><td>NIAID U01AI035039 (Wolinsky)</td></tr>
    <tr><td></td><td>Multicenter AIDS Cohort Study (MACS)</td></tr>
    </tbody>
  </table>
</div>
