<section id="about" class="steps text-center">
  <div class="container text-left">
    <h3 class="title">
      <%= best_in_place_if (user_signed_in? and current_user.at_least_a_content_manager?),
                           @site.about, :title,
                           :path => about_path(@site.about.id),
                           :sanitize => false,
                           :display_with => lambda { |aboutTitle| (aboutTitle).html_safe } %>
    </h3>
    <p>
    <%= best_in_place_if (user_signed_in? and current_user.at_least_a_content_manager?),
                         @site.about, :content,
                         :type => :textarea,
                         :path => about_path(@site.about.id),
                         :sanitize => false,
                         :display_with => lambda { |aboutContent| (aboutContent).html_safe },
                         :html_attrs => { style: 'width:100%;' }%>
    </p>
  </div>
</section>