#recent {
  padding: 50px 15px 50px 15px;
}


//***********************************
//**** START Image upload modal  ****
//***********************************
.modal.custom.image-upload-div {
  padding-bottom: 30px;
  max-height: 50%;
  background: rgba(255,255,255,0.90);
}

.modal.custom.image-upload-div #image_view {
  text-align: center;
  width: 100%;
}

.modal.custom.image-upload-div #image_view img{
  max-height: 60%;
  max-width: 60%;
  margin-bottom: 35px;
}

.btn-file {
  position: relative;
  overflow: hidden;
}

.btn-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 999px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  outline: none;
  background: white;
  cursor: inherit;
  display: block;
}

input[readonly] {
  background-color: white !important;
  cursor: text !important;
}

#focusedInput:focus {
  background: red;
}
//*********************************
//**** END Image upload modal  ****
//*********************************

/* line 67, ../sass/partials/_contact.sass */
.contact-table {
  padding: 30px;
}
/* line 71, ../sass/partials/_contact.sass */
.contact-table .contact-table-title {
  margin-top: 40px;
  color: #fafafa;
  font-size: 28px;
  font-size: 2.8rem;
  font-family: "Merienda One", cursive;
}
/* line 76, ../sass/partials/_contact.sass */
.contact-table p {
  font-size: 20px;
  font-size: 2rem;
  color: #fafafa;
}