#recent {
  padding: 50px 15px 50px 15px;
}


//***********************************
//**** START Image upload modal  ****
//***********************************
.modal.custom.image-upload-div {
  padding-bottom: 30px;
  max-height: 50%;
  background: rgba(255,255,255,0.90);
}

.modal.custom.image-upload-div #image_view {
  text-align: center;
  width: 100%;
}

.modal.custom.image-upload-div #image_view img{
  max-height: 60%;
  max-width: 60%;
  margin-bottom: 35px;
}

.btn-file {
  position: relative;
  overflow: hidden;
}

.btn-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 999px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  outline: none;
  background: white;
  cursor: inherit;
  display: block;
}

input[readonly] {
  background-color: white !important;
  cursor: text !important;
}

#focusedInput:focus {
  background: red;
}
//*********************************
//**** END Image upload modal  ****
//*********************************

/* line 67, ../sass/partials/_contact.sass */
.contact-table {
  padding: 30px;
}
/* line 71, ../sass/partials/_contact.sass */
.contact-table .contact-table-title {
  margin-top: 40px;
  color: #fafafa;
  font-size: 28px;
  font-size: 2.8rem;
  font-family: "Merienda One", cursive;
}
/* line 76, ../sass/partials/_contact.sass */
.contact-table p {
  font-size: 20px;
  font-size: 2rem;
  color: #fafafa;
}

#loginModal, #image-update-modal-window, #user-consent-modal-window, #phi-modal-window, #screening-modal-window, #status-modal-window {
  padding: 0px;
  background: rgba(255, 255, 255, 0.90);
  max-height: 540px !important;

  h3 {
    font-size: 2.5em;
    font-weight: 300;
    margin-bottom: 20px;
  }

  #header .modal-header {
    border-bottom: none;
    border-radius: 5px;
    padding: 15px;
    border-bottom: 1px solid #e5e5e5;
  }

  .control-label {
    font-size: 2em;
    padding-bottom: 5px;
  }

  .user_remember_me {
    font-size: 2em;
    padding-bottom: 5px;
  }

  .modal-header .user_email input:-webkit-autofill {
    background-color: #fff;
  }

  .modal-header .close {
    margin-top: -2px;
    float: right;
    font-size: 21px;
    font-weight: bold;
    line-height: 1;
    color: black;
    text-shadow: 0 1px 0 white;
    opacity: 0.2;
    filter: alpha(opacity=20);
    position: relative;
  }

  /* line 16, /home/eschlange/.rvm/rubies/ruby-2.1.1/lib/ruby/gems/2.1.0/gems/bootstrap-sass-3.1.1.1/vendor/assets/stylesheets/bootstrap/_close.scss */
  .close:hover, .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
    opacity: 0.5;
    filter: alpha(opacity=50);
  }

  /* line 29, /home/eschlange/.rvm/rubies/ruby-2.1.1/lib/ruby/gems/2.1.0/gems/bootstrap-sass-3.1.1.1/vendor/assets/stylesheets/bootstrap/_close.scss */
  button.close {
    padding: 0;
    cursor: pointer;
    background: transparent;
    border: 0;
    -webkit-appearance: none;
  }

  input#user_email, input#user_password {
    color: #000000;
    width: 70%;
    height: 3em;
    font-size: 2em;
    background-color: #fff;
  }

  .inputs {
    margin: 0px 20px;
  }

  .modal {
    overflow: scroll;
  }
}

#user-consent-modal-window, #phi-modal-window, #screening-modal-window, #status-modal-window {
  .modal-body {
    overflow: scroll;
  }
}

.user-admin table {
  margin-top: 40px;
}

#resources a {
  color: #000;
}

a.user-admin-link {
  color: #000;
}

.contact-table a:hover {
  color: #fff;
}

.jumbotron h1 {
  padding-top: 40px;
}

.register {
  padding-top: 50px;
}

section#about {
  padding-bottom: 80px;
}

.notice, .alert {
  color: #ff0000;
  font-size: 2em;
}

.jumbotron .notice, .jumbotron .alert {
  color: #59D3D3;
  font-weight: bolder;
}