<div id="resources" class="container">
  <div class="about-secondary">
    <h1 class=" about-title">
      <%= best_in_place_if (user_signed_in? and current_user.at_least_a_content_manager?),
           @site.resource, :title,
           :path => resource_path(@site.resource.id),
           :sanitize => false,
                           :display_with => lambda { |resourceTitle| (resourceTitle).html_safe } %>
    </h1>
      <%= best_in_place_if (user_signed_in? and current_user.at_least_a_content_manager?),
           @site.resource, :content,
           :type => :textarea,
           :path => resource_path(@site.resource.id),
           :sanitize => false,
           :display_with => lambda { |resourceContent| (resourceContent).html_safe },
           :html_attrs => { style: 'width:100%;' }%>
  </div>
</div><!-- end of .container -->