<div class="footer">
  <div class="container">
    <div class="row-fluid">
      <h3 class="footer-title pull-left"><a href="#"><i class="icon-chevron-up"></i> <%= @site.name %></a></h3>
      <p class="pull-right footer-copyright">&copy; All Right Reserved.</p>
    </div> <!-- /row-fluid -->
  </div> <!-- /container -->
</div> <!-- /footer -->