// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.modal.custom {
  width:30%;
  margin:15% auto 0;
  background: rgba(255, 255, 255, 0.75);
  overflow: hidden;
  border-radius: 15px;
  max-height: 50%;
}

.header.red-ribbon {
  background-image: image-url('red_ribbon_crop.jpg');

}

.banner .header-description .title.red-ribbon-title {
  color: #fff;
  font-size: 36px;
  line-height: 44px;
  font-weight: 400;
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.33);
  margin-top: 230px;
}

.container.banner {
  height: 700px;
}

.btn-warning.banner-btn {
  color: #fff;
  background-image: linear-gradient(to bottom, #f00400 0%, #d10400 100%);
  background-repeat: repeat-x;
  border-color: #f00400;
}

.btn-warning.banner-btn:hover, .btn-warning.banner-btn:focus {
  background-image: linear-gradient(to bottom, #ea0400 0%, #b90400 100%);
  background-color: #b90400;
  background-position: 0 -15px;
}

.btn-warning.banner-btn:active, .btn-warning.banner-btn.active {
  background-color: #eb9316;
  border-color: #e38d13;
}

.banner .app-store-button-wrapper.app-store-button-wrapper-custom {
  margin: 245px 0 0;
}

.welcome.welcome-blip:before {
  background: image-url('top-welcome-pattern.png');
}
.welcome.welcome-blip:after {
  background: image-url('bottom-welcome-pattern.png');
}

.app-shots.app-shots-custom {
  background: image-url('app-shots-pattern.png') repeat;
}

a#scrollUp {
  width: 40px;
  height: 50px;
  right: 5px;
  -webkit-box-shadow: 0 0 0 #a02622;
  box-shadow: 0 0 0 #a02622;
  border-radius: 3px;
  border-color: #b92c28;
  background-color: #d9534f;
  color: #fff;
  background-image: none;
}

a#scrollUp:hover {
  background-color: #d9534f;
}

.registration-header {
  color: #fff;
}