// Place all the styles related to the Sites controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.table-short {
  width: 80%;
}

.register form.new_user {
  max-width: 700px;
  margin: 0 auto;
}

.register form h3 {
  color: #fff;
  font-size: 40px;
  font-weight: 300;
  margin-bottom: 20px;
}

.register form {
  color: #fff;
  font-size: 16px;
}

.control-group {
  margin-top: 15px;
}


/* Register
/ -------------------------------------------------- */
.register {
  background-color: #3ac29c;
  padding-bottom: 70px;
}
.register .title {
  color: #fff;
}
.register .subtitle {
  color: #aee7d7;
}
.register form {
  max-width: 700px;
  margin: 0 auto;
}
.register form .form-control:focus {
  -webkit-box-shadow: 0 0 0;
  box-shadow: 0 0 0;
  border-color: #23735d;
}
.register form .btn {
  padding: 10px 28px;
}
.register form .help-block {
  color: #fff;
  -webkit-transition: all 300ms;
  transition: all 300ms;
}
.register .social {
  margin-top: 70px;
}
.register .social li {
  margin-bottom: 10px;
}
.register .social li a {
  color: #fff;
  font-size: 20px;
  border: 1px solid #fff;
  width: 70px;
  height: 70px;
  display: block;
  border-radius: 50%;
  padding: 23px;
  -webkit-transition: all 300ms;
  transition: all 300ms;
}
.register .social li a:hover,
.register .social li a:focus {
  background-color: #fff;
  color: #3ac29c;
  -webkit-transform: translate(0, 10px);
  -ms-transform: translate(0, 10px);
  transform: translate(0, 10px);
}

.form-inputs input {
  color: #000;
  font-weight: 250;
}

.confirmations form h3 {
  color: #fff;
  font-size: 40px;
  font-weight: 300;
  margin-bottom: 20px;
}

.form-inputs {
  margin-bottom: 10px;
}

.back-link {
  color: #fff;
  font-size: 16px;
}

#loginModal {
  background-color: #3ac29c;
  color: #fff;
}

#loginModal h3 {

  font-size: 40px;
  font-weight: 300;
  margin-bottom: 20px;
}

.banner .col-sm-3 .app-store-button-wrapper {
  -webkit-box-shadow: 1px 1px 45px 1px rgba(255, 255, 255, 0.34);
}

#header .modal-header {
  border-bottom: none;
  border-radius: 5px;
}

#header .register {
  padding-bottom: 0px;
}

#header .modal-footer {
  border-top: none;
  border-radius: 5px;
}

#header #loginModal {
  padding: 0px;
}

#header .modal-body .controls input {
  color: #000000;
}

#header .modal.custom {
  max-height: 400px;
}