// Place all the styles related to the UserAdmin controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.user-admin {
  padding-bottom: 30px;
}

button .btn-user-export a, .btn-user-export a:visited {
  color: #fff;
}

.btn-user-export a:hover{
  color: #ffdede;
  background: transparent;
  text-decoration: none;
}